<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  {{ $curLanguageName := .Site.Language.LanguageName }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    $(".content:contains('                      code                    ')").addClass("green");
    $(".content:contains('medium')").addClass("yellow");
    $(".content:contains('high')").addClass("orange");
    $(".content:contains('critical')").addClass("red");
</script>

<style>.red {
    color: red;
}
.green {
    color: green;
}
.orange {
  font-family: ;
  font-size: 0.7em;
  color: white;
  background-color: orange;
  padding: 3px;
  border-radius: 5px;
  font-family: 'Fira Code'
}
.yellow {
    color:yellow;
}

.posts-tags {
  color: lightgrey !important;
  text-decoration: none;
  font-size: 0.8em;
  font-family: Roboto;
  font-weight: 300;
}

.posts-date {
  color: grey;
  text-decoration: none;
  font-size: 0.8em;
  font-family: Roboto;
  font-weight: 300;
}

.posts-title {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-family: Georgia;
  font-weight: 400;
}



</style>

  <body>
    <article class="posts">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <header>
                <div class="signatures site-title">
                  <a href="{{ .LanguagePrefix }}/">{{ .Site.Author.name }}</a>
                </div>
              </header>
              <div class="row">
                {{ range .Site.Languages -}}
                {{ if ne .LanguageName $curLanguageName }}
                <div class="lang-switch col-xs-3 col-xs-offset-9">
                  <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
                </div>
                {{ end }}
                {{ end }}
              </div>

              <div id="posts-list">
                {{ range .Data.Pages.GroupByDate "2006" -}}
                <section>
                  <h1 class="site-date-catalog">{{ .Key }}</h1>
            
                  {{ range .Pages -}}
                  <div class="row post-line">
                    <div class="posts-date col-xs-1">
                      <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
                    </div>

                    {{ $class := "" }}

                    {{ if eq .Description "golang" }}
                      {{ $class = "orange" }}
                    {{ else if eq .Params.tags "other" }}
                      {{ $class = "orange" }}
                    {{ else if eq .Params.tags "stuff" }}
                      {{ $class = "red" }}
                    {{ end }}
                    
                    <div class="col-xs-1"><span class="content  {{ $class }}"> {{.Description}} </span></div>
                                    
                    <div class="posts-title col-xs-6">
                        <a class="posts-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>

                    <div class="col-xs-2" id="tags">
                    {{ range .Params.tags }}
                    <a class="posts-tags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                    </div>

                    <!--<div id="categories">
                    {{ range .Params.categories }}
                    <div><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </div>
                    {{ end }}
                    </div>-->


                  </div>
                  {{ end }}
                </section>
                {{ end }}
              </div>


              <div class="posts-footer col-xs-3 col-xs-offset-9">
                {{ range .Site.Params.socials }}
                <div class="posts-footer-item">
                  <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                  <a href="{{ .link }}" target="_blank">{{ .name }}</a>

                  <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
    </article>

    {{ partial "scripts.html" . }}
  </body>



</html>
